.left {
  all: unset;
  background-color: rgba(255, 255, 255, 0.16);
  border-radius: 99999px;
  height: 2.5rem;
  width: 2.5rem;
  backdrop-filter: blur(8px);
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 1.5rem;
  z-index: 80;
}

.right {
  all: unset;
  background-color: rgba(255, 255, 255, 0.16);
  border-radius: 99999px;
  height: 2.5rem;
  width: 2.5rem;
  backdrop-filter: blur(8px);
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  right: 1.5rem;
  z-index: 80;
}