.resource {
  position: relative;
  width: 100vw;
  height: 100dvh;

  img {
    object-fit: cover;
  }
}

.carousel {
  position: absolute;
  z-index: -1;
  inset: 0;
  display: flex;
}

.info-box {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}